#progress-bar.ytd-reel-video-renderer {
    display: none !important;
}

#__yt-controls-extension-container__ {
    position: absolute;
    bottom: 2vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    z-index: 100000;
    border-radius: 2px;
    max-width: 600px;
    min-width: 400px;
    padding: 5px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: transparent;
    transition: background 0.2s 0.1s, outline-color 0.2s 0.1s, backdrop-filter 0.1s 0.1s;
}

#__yt-controls-extension-container__:hover {
    outline-color: grey;
    backdrop-filter: blur(50px);
}

#__yt-controls-extension-container__:hover 
#__yt-controls-extension-volume-slider__ {
    opacity: 1;
    width: 25%;
}

#__yt-controls-extension-container__:hover 
#__yt-controls-extension-time-slider__ {
    width: 75%;
}

#__yt-controls-extension-time-slider__ {
    background: transparent;
    width: 100%;
    transition: width 0.2s 0.1s;
}

#__yt-controls-extension-volume-slider__ {
    opacity: 0;
    background: transparent;
    width: 0;
    transition: width 0.2s 0.1s, opacity 0.2s 0.1s;
}

.__yt-controls-extension-input__::-moz-range-thumb {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    background: #6ba4f0;
    opacity: 0;
    border: none;
    transition: opacity 0.2s 0.1s;
}

.__yt-controls-extension-input__::-moz-range-progress {
    border-radius: 2px 0 0 2px;
    height: 5px;
    background: #6ba4f0;
    transition: height 0.2s 0.1s;
}

.__yt-controls-extension-input__::-moz-range-track {
    border-radius: 2px;
    height: 5px;
    outline: 1px solid grey;
    background: transparent;
    transition: height 0.2s 0.1s;
}

#__yt-controls-extension-container__:hover 
.__yt-controls-extension-input__::-moz-range-progress {
    height: 10px;
}

#__yt-controls-extension-container__:hover 
.__yt-controls-extension-input__::-moz-range-track {
    height: 7px;
}

#__yt-controls-extension-container__:hover 
.__yt-controls-extension-input__::-moz-range-thumb {
    opacity: 1;
}